.view-layout {
    &.desktop {
        height: calc(100% - 48px);
        overflow-y: hidden;
        .layout-body {
            width: 50%;
            height: calc(100% + 24px);
        }
        .layout-info {
            width: calc(50% - 12px);
            height: 100%;
            margin-top: -24px;
            position: relative;

            .no-item {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                user-select: none;
                pointer-events: none;
            }
        }
    }

    &.mobile {
        height: calc(100% - 48px);
        overflow-y: hidden;
        .layout-body {
            width: 100%;
            height: calc(100% + 24px);
        }
    }
}

.item-list {
    position: relative;
    height: calc(100% - 64px);
}

.body-root {
    position: relative;
    .new-item-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}